<div class="row row-cols-1 row-cols-md-2 g-4">
<% @recipes.each do |recipe| %>
  <div class="col">
    <div class="card">
        <img src="<%= recipe.photo.url %>" class="card-img-top" alt="<%= recipe.title %>">
        <div class="card-body">
            <h5 class="card-title"> <%= recipe.title %></h5>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/<%= recipe.id %>" class="btn btn-primary stretched-link">Details</a>
            </div>
        </div>
    </div>
    <br>
  </div>
<% end %>
</div>